body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

:root {
    --btn-1-main: #fb8500;
    --btn-1-alt: #023047;
}

.btn-1 {
    background-color: var(--btn-1-main);
    color: var(--btn-1-alt);
    border: none;
    animation: btn-1 2s ease-in 1s infinite alternate;
}

.btn-1:hover {
    /* border: 2px solid #023047; */
    box-shadow: 2px 2px 5px var(--btn-1-alt);
    animation: none;
    transform: translate(0px,-2px);
}

.btn-1:active {
    border: 4px solid var(--btn-1-alt);
    
}

@keyframes btn-1 {
    0% {color: white; text-shadow: 0 0 4px var(--btn-1-alt);}
    100% {color: var(--btn-1-alt);}
}


.btn-2 {
    border: 2px solid blue;
    animation-name: btn-2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}


@keyframes btn-2 {
    25% {transform: scale(120%);}
    50% {transform: scale(100%);}
    75% {transform: scale(120%);}
    100% {transform: scale(100%);}
}
/* Add your custom styles for btn-1, btn-2, and btn-3 */