body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Custom colours from coolor added to the root to be used for buttom 1 and 2 */
:root {
    --btn-1-light: #fb8500;
    --btn-1-dark: #023047;
    --btn-2-light: #ffd60a;
    --btn-2-dark: #003566;
}

/* Button 1 - main annimation is the change in the text colour through the @keyframes function. A text shadow is also added to the 
animation to help with readability. Additional transitions happens through the :hover where the button translates upwards by 2px when
 hovered over */
.btn-1 {
    background-color: var(--btn-1-light);
    color: var(--btn-1-dark);
    border: none;
    animation: btn-1 2s ease-in 1s infinite alternate;
}

.btn-1:hover {
    box-shadow: 2px 2px 5px var(--btn-1-dark);
    animation: none;
    transform: translate(0px,-2px);
}

.btn-1:active {
    border: 4px solid var(--btn-1-dark);
    
}

@keyframes btn-1 {
    0% {color: white; text-shadow: 0 0 4px var(--btn-1-dark);}
    100% {color: var(--btn-1-dark);}
}

/* Button 2 - The main animation is the change in the scale of the button as well as the colour of the background.
The scale is also transfomed in the :hover to 120%.  */
.btn-2 {
    border: 2px solid var(--btn-2-dark);
    animation: btn-2 2s ease 0s infinite alternate;
    animation-fill-mode: both;
    color: var(--btn-2-light);
    
}

.btn-2:hover {
    animation: none;
    transform: scale(120%);
    background-color: var(--btn-2-dark);
    color: var(--btn-2-light);
    border: none;
}



@keyframes btn-2 {
    0% {transform: scale(100%); color: var (--btn-2-light); text-shadow: 0 0 2px var(--btn-2-dark);}
    100% {transform: scale(120%); color: var(--btn-2-dark); background-color: var(--btn-2-light);}
    
}

/* Button-3 - has a floating/jumping animations with linear-gradient colour chnage.When focussed on the button scales 
up and the text changes colours and becomes bold. Also Test shadow has been added to the hover to help with readability.   */
.btn-3 {
    background-image: linear-gradient(to right, yellow, green);
    animation: btn-3 1s ease 0s infinite alternate;
    animation-fill-mode: both;
    border: none;
    
}

.btn-3:hover {
    animation: none;
    background-image: linear-gradient(to right, green, yellow);
    border: none;
    font-weight: bold;
    scale: 120%;
    color: #eeefed;
    text-shadow: 0 0 5px var(--btn-1-dark);
}

@keyframes btn-3 {
    0% {transform: translateY(5px);background-image: linear-gradient(to right,  yellow, green, green, green, green)}
    25%{background-image: linear-gradient(to right, green, yellow, green, green, green)}
    50% {background-image: linear-gradient(to right, green, green, yellow, green, green)}
    75% {background-image: linear-gradient(to right, green, green, green, yellow, green)}
    100% {transform: translateY(-5px);background-image: linear-gradient(to right, green, green, green, green, yellow)}
}
